---
layout: page
---
<!-- START: hero-type-2 -->
<div class="hero hero--type-2">
    <div class="container">
        <div class="row">
            <!-- NOTE: Different column values here than other instances of Type 2 Hero -->
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <!-- NOTE: H1 here not H2 -->
                <h1 class="hero__heading">
                    {{ b.title }}
                </h1>
                <span class="hero__metadata">
                    {% if b.author %}
                        <span class="hero__metadata__heading">{{ b.author }}</span>
                        &nbsp;|&nbsp;
                    {% endif %}
                            <time class="hero__metadate__timestamp" datetime="{{ b.datetime }}">{{b.timestamp | date: "%B %d %Y" }}</time>
                        </span>
            </div>
        </div>
    </div>
</div>
<!-- END: hero-type-2 -->

<!-- START: news-content -->
<section class="section section--general-content">
    <div class="container">
        {{ content }}
    </div>
</section>
<!-- END: news-content -->
